/*
	border color: #bdc3c7
	date color: #3498db
	h2 color: #2c3e50

	font: source sans pro

	hr styles
*/

body {
	width: 80%; /* in my solution => width: 50%; */
	max-width: 700px; /* didn't exist in my solution */
	margin: 20px auto;
	border: 20px solid #bdc3c7;
	padding: 20px;/* in my solution => padding: 0 30px 0 30px; */
	font-family: "source sans pro";
}

h2 {	
	color: #2c3e50;
	text-transform: capitalize;
	font-size: 2rem; /*in my solution => font-size: 30px;*/
}

.date { /* substitui estilo de h3 */
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.quote { /* substitui o estilo de div p:nth-of-type(1) */
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

.post {
	margin-bottom: 20px;
}

/* Gradient transparent - color - transparent */
/* https://css-tricks.com/examples/hrs/ */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*
in my solution =>

h3 {
	color: #3498db;
	font-size: 15.7px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

div p:nth-of-type(1) {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}
*/